@import './import.styles.css';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

main, #root, .App, html, body{
  height: 100vh;
  width: 100vw;
  background-image: url('../images/corkboard_img.jpg');
  font-size: 36px;
  font-family: 'Nunito', sans-serif;
}
input, textarea, select{
  line-height: 36px;
  font-size: 32px;
}

button{
  border: grey 1px solid;
  box-shadow: none;
  border-radius: 20px;
  background-color:var(--accent-light);
  color:white;
  line-height: 80px;
  font-size: 36px;
}
h1, h2, h3, h4{
  
}
.error{
  color: red;
  font-size: 50%;
}
.main-container{
  display: grid;
  grid-template-columns: 20% auto auto auto 20%;
  grid-template-rows: 15vh auto auto auto auto auto auto auto  ;
  row-gap: 5%; 
}
#copyright{
  bottom: 0px;
}
.small_container{
  display:grid;
  grid-template-columns: auto auto auto;
  row-gap: 0px;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 0px; 
}
.col-full{
  grid-column: span 5;
}
.col-center,.col-1, .col-half, .col-left, .col-right{
  grid-column: 2/span 3;
}
@media only screen and (min-width:640px){

  .main-container{
    display: grid;
    width: 100vw;
    grid-template-columns:  auto auto auto auto auto ;
    grid-template-rows: 25vh auto auto auto auto auto auto auto  ;
    row-gap: 2%;
    column-gap: 10px; 
  }
.col-left{
  grid-column: 1;
  }
.col-full{
  grid-column: span 5;
}
.row-full{
    grid-row-start: 3;
    grid-row-end: auto;
}
.col-half{
  grid-column: span 2;
}
.col-right{
  grid-column: 5;
}
.col-center{
  grid-column: 2/span 3;
}
.col-1{
  grid-column: span 1;
}
.row-center{
  grid-row: 4
}
}
textarea{
  width:100%;
}
body{
--primary:#B28B54;
--secondary:#664B26;
--nuetral:#FFD191;
--accent-dark:#1C4966;
--accent-light:#548EB3;
--shadow:rgba(115, 89, 54, 0.45);
}