#add_Notice{
  background-color: var(--accent-dark);
  position: fixed;
  bottom: 10px;
  right:10px;
  border-radius: 100px;
  width:75px;
  line-height: 75px;
  font-size:75px;
}
#settings_button{
  color:white;
  text-decoration: none;
  background-color: rgba(255,255,255,0);
  border:none;
}
#header a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
#header{
  background-color:var(--accent-dark);
  color:white;
  padding: 10px;
  box-sizing: border-box;
  width:100%;
  height:100%;
}
#logo{
  height: 36px;
  display:none;
}
.nav-button {
  grid-column: 4;
  height:40px;
  line-height: 40px;
  margin-right:10px;
  
}
.home{
  display: inline;
  line-height: 10px;
  word-wrap: break-word;
  font-size: 24px;
  overflow: hidden;
  padding-right:25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}



@media only screen and (min-width:640px){
  #logo{
    display: inline;
  }
  #header{
    height:50%;
  }
  .nav-button {
    grid-column: 4;
    margin-right:-25px
    
  }
  #header a{
  font-size: 26px;
  }
}
