#landing{
}
.landing_div{
  display: grid,
}
h1{
  margin: 0px;
}
h3{
  margin:10px;
}
q{
  font-size: 15px;
  margin-top:-10px;
}
#landing  img{
  height: 100px;
  display:none;
}
.landing_sub{
  font-size: 12px;
}
#landing_header{
  margin-bottom: 50px;
}
.landing_highlight{
  background: radial-gradient(0deg, grey,white);
  color:white;
}

@media only screen  and (min-width: 720px){/* tablets */
  /* #landing{
    padding: 25px;
    margin:auto;
    margin-top:-150px;
    width:80vw;
    grid-column: 3;
    font-size: 75%;
  } */
  #landing  img{
    height: 150px;
    display:inline;
  }
  .landing_sub{
    font-size: 24px;
  }
  }

@media only screen  and (min-width: 1100px){/*desktop*/
 #landing{

  width:65vw;

} 
#landing  img{
  height: 200px;
  display:block;
}
.landing_sub{
  font-size: 24px;
}
}