#login{
  background-color: white;
  width:100vw;
  height:85vh;
  box-sizing: border-box;
  box-shadow: 10px 10px var(--shadow);
  padding:20px;
  grid-column: 1/span 5;
  margin-top:-25px;
  

}
#login > div > h2, .error{
  margin:0px;
}
#login >form{
  padding:5px;
  margin:0px;
}
.login-controls{
  margin-top:20px;
  font-size: 50%;
}
#login > form > div > input, select{
  width:100%;
  border: 2px solid grey;
}
@media only screen and (min-width:640px){
  #login{
    padding:25px;
    grid-column: 2/span 3;
    height:80%;
    width:75%;
    margin:auto;
  }
  #login >form{
    padding:30px;
  }
}
@media only screen and (min-width:1100px){
  #login{
    padding:80px;
  }
}