#noticePage{

}
.page_title{
  margin:0;
}
#noticePage-controls{
  width:100%;
}

.content{
  border: 1px solid black;
}
.comments{
  font-size: 50%;
 text-align: right;
 font-size: 50%;
}

.by{
  font-size: 75%;
  color:white;
  text-align:right;
  
}
.comment-content:before,.comment-content:after{
  content: '"'
}


@media only screen and (min-width:640px){
#noticePage{


}
.content{
  padding:30px;

}
}
