#noticePage{
  background-color: white;
  box-shadow: 5px 5px var(--shadow);
  width:90vw;
  height:100vh;
  overflow: scroll;
  padding: 25px;
  grid-column-start: 1;
  
}
#noticePage-controls{
  width:100%;
}
.comments{
  font-size: 50%;
}


@media only screen and (min-width:640px){
#noticePage{
  width:100%;
  grid-column: 2/span 3;

}
.content{
  padding:30px;

}
}
