#register{
  background-color: white;
  box-shadow: 5px 5px var(--shadow);
  grid-column: 1/span 5;
  padding: 20px;

}
.seima > div{
  width:100%;
}
/* #register form{
  width:65vw;
} */
button:disabled{
  background-color: grey;

}
#register > div > h2, .error{
  margin:0px;
}
#register form{
  width:85vw;
  box-sizing: border-box;
  margin-bottom: 50px;
}
#org_form button{
margin-top:50px;
}
#register div input, select{
  width:100%;
}
.register_controls button{
  padding:25px;
}
#newOrg{
  margin:auto;
  height: 28px;
  }

@media only screen and (min-width:640px){
  #register{
    padding-top:40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
  }
  #register form{
    padding:30px;
    margin:15px;
    width:100%;
  }
  #newOrg{
    margin:auto;
    height: 28px;
  }
}