#register{
  background-color: white;
  box-shadow: 5px 5px var(--shadow);
  grid-column: 1/span 5;
  padding: 20px;

}
.register-controls{
margin-top:25px;
}
#register .siema {
  width:100%;
}
.siema form{
  margin:0px;
  padding:5px;
}
/* #register form{
  width:65vw;
} */
button:disabled{
  background-color: grey;

}
#register > div > h2, .error{
  margin:0px;
}
#register form{
  width:85vw;
  box-sizing: border-box;
  margin-bottom: 50px;
}
#org_form{
  row-gap: 5%;
}
.info{
  color:gray;
  font-size: 75%;
}

#org_form button{
margin-top:50px;
}
#register div input, select{
  width:100%;
}
.register_controls button{
  padding:25px;
}
#newOrg{
  margin:auto;
  height: 28px;
  }
  #register h3{

  }

@media only screen and (min-width:640px){
  #register{
    padding-top:40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
  }
  #register form{
    padding:30px;
    margin:15px;
    width:100%;
  }
  #newOrg{
    margin:auto;
    height: 28px;
  }
  #register h3{
    margin:0px;
  }
}