.App {
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 2%;
  column-gap: 10px; 
}
.col-full{
  grid-column: span 6;
}
.col-half{
  grid-column: span 3;
}
.col-right{
  grid-column: 4;
}
col-center{
  grid-column: 2/span 4;
}
